html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

ul,
ol {
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

:root {
	--white: #fff;
	--main-color: #333333;
	--title-decor: rgba(35, 82, 222, 0.1);
	--section-bg: #F6F6F8;
	--stats-color: #2352DE;
	--stats-decor: #DBDBED;
	--link-in-focus: rgba(35, 82, 222, 0.5);
	--link-shadow: rgba(0, 0, 0, 0.25);
	--focus-outline: rgba(255, 255, 255, 0.5);
	--bg-focus: rgba(255, 255, 255, 0.0001);
}

body {
	font-family: "Open Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: var(--main-color);
	background-color: var(--white);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding: 140px 0;
}

.title {
	font-size: 48px;
	line-height: 1.3;
	display: inline-block;
	position: relative;
	margin-bottom: 60px;
}

.title::after {
	content: "";
	position: absolute;
	background-color: var(--title-decor);
	width: 100%;
	height: 15px;
	bottom: 7px;
	left: 0;
}

.header {
	color: var(--white);
	background-image: url("../images/header-bg-decor.png"), url("../images/header-bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.header__top {
	padding-top: 75px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__content {
	display: flex;
	flex-direction: column;
	height: calc(100vh - 127px);
}

.header__title {
	font-weight: 400;
	font-size: 48px;
	line-height: 1.3;
	max-width: 620px;
	margin: auto 0;
}

.header__subtitle {
	font-weight: 700;
	font-size: 90px;
	display: block;
}

.header__link {
	line-height: 1.3;
	font-weight: 600;
	align-self: center;
	margin-bottom: 30px;
	padding-bottom: 33px;
	background: url("../images/arrow.svg") no-repeat bottom center;
}

.header__link:hover,
.menu__link:hover {
	text-decoration: underline;
}

.header__link:active,
.menu__link:active {
	text-decoration: none;
	opacity: 0.7;
}

.header__link:focus,
.menu__link:focus {
	outline: none;
	background-color: var(--bg-focus);
	box-shadow: 0px 0px 0px 2px var(--focus-outline);
	border-radius: 3px;
}

.menu {
	display: flex;
	font-weight: 600;
	line-height: 1.3;
}

.menu__item:not(:last-child) {
	margin-right: 35px;
}

.about__title {
	margin-bottom: 60px;
}

.about__content p:not(:last-child) {
	margin-bottom: 30px;
}

.skills {
	background-color: var(--section-bg);
}

.skills__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.skills__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.skills__item:not(:last-child) {
	margin-bottom: 85px;
}

.skills__stats {
	font-weight: 600;
	text-transform: uppercase;
	display: block;
	margin-right: 15px;
}

.skills__bar {
	width: 600px;
	height: 32px;
	background: var(--stats-decor);
}

.skills__blue {
	display: block;
	background-color: var(--stats-color);
	height: 100%;
}

.services__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 90px;
}

.services__item {
	padding-top: 90px;
	max-width: 332px;
}

.services__heading {
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 28px;
}

.services__text {
	font-size: 16px;
}

.services__item--project {
	background: url("../images/teg.svg") no-repeat left top;
}

.services__item--cms {
	background: url("../images/cms.svg") no-repeat left top;
}

.services__item--support {
	background: url("../images/support.svg") no-repeat left top;
}

.projects {
	padding-bottom: 140px;
	text-align: center;
}

.projects__filter {
	margin-bottom: 60px;
}

.projects__filters {
	display: flex;
	align-items: center;
	justify-content: center;
}

.projects__button {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.6;
	margin: 0 17px;
	transition: color 0.2s linear;
}

.projects__button:hover {
	color: var(--stats-color);
	text-decoration: underline;
}

.projects__button:focus {
	outline: none;
	background: var(--bg-focus);
	box-shadow: 0px 0px 0px 2px var(--link-in-focus);
	border-radius: 3px;
}

.projects__button:active {
	color: var(--stats-color);
	text-decoration: none;
}

.projects__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 45px;
	margin-bottom: 65px;
}

.mixitup-control-active {
	color: var(--stats-color);
}

.projects__btn {
	font-weight: 600;
	color: #fff;
	padding: 12px 24px;
	border: 1px solid transparent;
	background-color: var(--stats-color);
	transition: color 0.2s linear, background-color 0.2s ease-out, border-color 0.3s linear;
}

.projects__btn:focus {
	outline: 3px solid var(--link-in-focus);
}

.projects__btn:hover {
	color: var(--stats-color);
	background-color: var(--white);
	border-color: var(--stats-color);
}

.projects__btn:active {
	background-color: var(--stats-color);
	color: var(--white);
	box-shadow: inset 0px 7px 4px var(--link-shadow);
}