html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

:root {
	--main-color: #333333;
	--section-bg: #F6F6F8;
	--stats-color: #2352DE;
	--stats-decor: #DBDBED;
}

body {
	font-family: 'Open Sans', "Arial", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: var(--main-color);
	background-color: #fff;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding: 140px 0;
}

.title {
	font-size: 48px;
	line-height: 64px;
	display: inline-block;
	position: relative;
}

.title::after {
	content: '';
	position: absolute;
	background-color: rgba(35, 82, 222, 0.1);
	width: 100%;
	height: 15px;
	bottom: 7px;
	left: 0;
}

.header {
	padding: 75px 0 30px;
	color: #fff;
	background: url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;
}

.header__inner {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.header__top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.header__content {
	text-align: left;
}

.header__title {
	font-weight: 400;
	font-size: 48px;
	line-height: 62px;
	max-width: 700px;
	max-width: 1040px;
}

.header__subtitle {
	font-weight: 700;
	font-size: 90px;
	line-height: 117px;
	display: block;
}

.header__link {
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	width: 160px;
	margin: 0 auto;
	padding-bottom: 33px;
	background: url(../images/arrow.svg) no-repeat bottom center;
}

.header__link:hover {
	text-decoration: underline;
}

.header__link:active {
	opacity: 0.7;
	text-decoration: none;
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}

.menu__item + .menu__item {
	margin-left: 35px;
}

.menu__link:hover {
	border-bottom: 1px solid #fff;
}

.menu__link:active {
	opacity: 0.7;
	border-bottom: none;
}

.about__title {
	margin-bottom: 60px;
}

.about__content-text + .about__content-text {
	margin-top: 30px;
}

.skills {
	background-color: var(--section-bg);
}

.skills__inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.skills__title {
	margin-bottom: 60px;
}

.skills__list {
	margin-left: 90px;
}

.skills__img {
	margin-right: 90px;
}

.skills__item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 665px;
}

.skills__item + .skills__item {
	margin-top: 85px;
}

.skills__item-stats {
	font-weight: 600;
	text-transform: uppercase;
	display: block;
}

.skills__item-bar {
	width: 600px;
	height: 32px;
	background-color: var(--stats-color);
	position: relative;
	margin-left: auto;
}

.services__title {
	margin-bottom: 60px;
}

.services__list {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
}

.services__item {
	padding-top: 90px;
	max-width: 332px;
}

.services__item-title {
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 28px;
}

.services__item-text {
	font-size: 16px;
}

.services__item--teg {
	background: url(../images/teg.svg) no-repeat left top;
}

.services__item--cms {
	background: url(../images/cms.svg) no-repeat left top;
}

.services__item--support {
	background: url(../images/support.svg) no-repeat left top;
}