ul[class], ol[class] {
	padding: 0;
}

body, h1, h2, h3, h4, h5, h6, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
	margin: 0;
}

ul[class] {
	list-style: none;
}

img {
	max-width: 100%;
	display: block;
}

input, button, textarea, select {
	font: inherit;
}

a {
	text-decoration: none;
	display: inline-block;
}

:root {
	--main-color: #333333;
	--section-bg: #F6F6F8;
	--stats-color: #2352DE;
	--stats-decor: #DBDBED;
}

html {
	box-sizing: border-box;
}

*, *::after, *::before {
	box-sizing: inherit;
}

.body {
	font-family: 'Open Sans', "Arial", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: var(--main-color);
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.section {
	padding: 140px 0;
}

.title {
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	display: inline-block;
	position: relative;
}

.title::after {
	content: '';
	position: absolute;
	background: rgba(35, 82, 222, 0.1);
	width: 100%;
	height: 15px;
	bottom: 7px;
	left: 0;
}

.header {
	color: #fff;
	padding: 75px 0 30px;
	background: url(../images/header-bg.jpg) no-repeat center center;
	background-size: cover;
	min-height: 100vh;
	text-align: center;
}

.header__inner {
	min-height: calc(100vh - 127px);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header__top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__link {
	color: inherit;
}

.header__title {
	font-size: 90px;
	line-height: 117px;
	max-width: 1000px;
}

.header__content {
	text-align: left;
}

.header__content-suptitle {
	font-size: 48px;
	line-height: 64px;
	margin-bottom: 20px;
}

.menu__link {
	color: inherit;
}

.menu__link:hover {
	border-bottom: 1px solid #fff;
}

.menu__link:active {
	opacity: .7;
	border-bottom: none;
}

.menu__list {
	display: flex;
	align-items: center;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}

.menu__item+.menu__item {
	margin-left: 35px;
}

.header__link {
	color: inherit;
	width: 157px;
	margin: 0 auto;
	padding-bottom: 33px;
	background: url(../images/arrow.svg) no-repeat bottom center;
}

.header__link:hover {
	text-decoration: underline;
}

.header__link:active {
	opacity: .7;
	text-decoration: none;
}

.about__title {
	margin-bottom: 60px;
}

.about__content-text+.about__content-text {
	margin-top: 30px;
}

.skills {
	background: var(--section-bg);
}

.skills__img {
	margin-right: 90px;
}

.skills__list {
	margin-left: 90px;
}

.skills__item-stats {
	font-weight: 600;
	text-transform: uppercase;
	display: block;
}

.skills__inner {
	display: flex;
	align-items: center;
}

.skills__item+.skills__item {
	margin-top: 85px;
}

.skills__item {
	display: flex;
	align-items: center;
	width: 665px;
}

.skills__title {
	margin-bottom: 60px;
}

.skills__item-bar {
	width: 600px;
	height: 32px;
	background: var(--stats-color);
	position: relative;
	margin-left: auto;
}

.skills__item-bar:after {
	content: '';
	position: absolute;
	height: 32px;
	content: '';
	position: absolute;
	background: var(--stats-decor);
	right: 0;
	top: 0;
}

.skills__item-bar--html::after {
	width: 90px;
}

.skills__item-bar--css::after {
	width: 120px;
}

.skills__item-bar--js::after {
	width: 230px;
}

.services__title {
	margin-bottom: 60px;
}

.services__list {
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

.services__item {
	padding-top: 90px;
	max-width: 332px;
}

.services__item-title {
	margin-bottom: 25px;
	font-weight: 600;
	font-size: 28px;
}

.services__item-text {
	font-size: 16px;
}

.services__item--teg {
	background: url(../images/teg.svg) no-repeat left top;
}

.services__item--cms {
	background: url(../images/cms.svg) no-repeat left top;
}

.services__item--support {
	background: url(../images/support.svg) no-repeat left top;
}